{% extends "admin/admin_liste.html" %}

{% block starter_h1 %}
    Images de l'Article "ffffff"
{% endblock %}

{% block starter_h1_complement %}
    liste
{% endblock %}

{% block admin_liste_menu %}
{% endblock %}

{% block admin_liste_table %}
    <a type="button" class="btn bg-gray margin" href="{{ path_for('admin.article.show',{'id':1}) }}">Revenir à l'article</a>
    <table id="table_d_1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="table_d_1_info">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    ID
                </th>
                <th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    Article
                </th>
                <th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    Image
                </th>
                <th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    Légende
                </th>
                <th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    Status
                </th>
                <th tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for i in 0..5 %}
            <tr role="row" class="odd">
                <td>{{ i }}</td>
                <td>article {{ i }}</td>
                <td>{{ i }}</td>                
                <td>legende {{ i }}</td>
                <td>ok</td>
                <td class="action_rows_table">
                    <a href="{{ path_for('admin.image.edit',{'article':1, 'id':1}) }}">Editer</a> |
                    <a href="{{ path_for('admin.image.destroy',{'article':1, 'id':1}) }}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th rowspan="1" colspan="1">ID</th>
                <th rowspan="1" colspan="1">Article</th>
                <th rowspan="1" colspan="1">Image</th>
                <th rowspan="1" colspan="1">Légende</th>
                <th rowspan="1" colspan="1">Status</th>
                <th rowspan="1" colspan="1">Action</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}