{% extends "admin/admin_liste.html" %}

{% block starter_h1 %}
    Images
{% endblock %}

{% block starter_h1_complement %}
    liste
{% endblock %}

{% block admin_liste_menu %}
{% endblock %}

{% block admin_liste_table %}
    <table id="table_d_1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="table_d_1_info">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    ID
                </th>
                <th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    Actif
                </th>
                <th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    Article
                </th>
                <th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    Image
                </th>
                <th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    Légende
                </th>
                <th tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
            <tr role="row" class="odd">
                <td>{{ image['id'] }}</td>
                <td>
                    {% if image["actif"] == "1" %}
                        <span style="color:green;">Oui</span>
                    {% else %}
                        <span style="color:red;">Non</span>
                    {% endif %}
                </td>
                <td>{{ image['article']['titre'] }}</td>
                <td>
                    <img src="{{ imgUrl }}articles/{{ image["src"] }}" width="100px">
                </td>                
                <td>{{ image['legende'] }}</td>
                <td class="action_rows_table">
                    <a href="{{ path_for('admin.image.edit',{'id':image['id']}) }}?redirect=all">Editer</a> |
                    <a href="{{ path_for('admin.image.destroy',{'id':image['id']}) }}?redirect=all">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th rowspan="1" colspan="1">ID</th>
                <th rowspan="1" colspan="1">Status</th>
                <th rowspan="1" colspan="1">Article</th>
                <th rowspan="1" colspan="1">Image</th>
                <th rowspan="1" colspan="1">Légende</th>                
                <th rowspan="1" colspan="1">Action</th>
            </tr>
        </tfoot>
    </table>
{% endblock %}