{% extends "admin/starter.html" %}

{% block starter_h1 %}
    Commentaire
{% endblock %}

{% block starter_h1_complement %}
    voir
{% endblock %}

{% block starter_layout %}
	<div class="row">
		<div class="col-lg-4">
			<div class="box box-widget widget-user-2">
			<!-- Add the bg color to the header using any of the bg-* classes -->
				<div class="widget-user-header bg-blue">
					<h3 class="widget-user-username">Quanta62</h3>
				</div>
				<div class="box-footer no-padding">
					<ul class="nav nav-stacked">
						<li>
							<a href="#">
								Pseudo <span class="pull-right">{{ commentaire["auteur"]["pseudo"] }}</span>
							</a>
						</li>
						<li>
							<a href="#">
								Email <span class="pull-right">{{ commentaire["auteur"]["email"] }}</span>
							</a>
						</li>
					</ul>
					<center>
						<a href="{{ path_for('admin.auteur.show',{'id':commentaire["auteur"]["id"]}) }}" class="btn bg-gray margin">Voir</a>
					</center>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="box box-primary">
			<!-- Add the bg color to the header using any of the bg-* classes -->
				<div class="box-body">
					{{ commentaire["contenu"] | raw }}
					<br>
					<br>
					<a href="{{ path_for('admin.article.show',{'id':commentaire["article"]["id"]}) }}" class="btn bg-gray margin">Voir l'article associé</a>
					<a href="{{ path_for('admin.commentaire.destroy',{'id':commentaire["id"]}) }}" class="btn bg-red margin alert_link">Supprimer</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
