{% extends "admin/admin_form.html" %}

{% block starter_h1 %}
    Commentaire
{% endblock %}

{% block starter_h1_complement %}
    Editer
{% endblock %}

{% block admin_form_formulaire %}
    <form method="POST">
        <div class="item_form">
            <label>Contenu</label>
            <textarea name="contenu"  class="form-control textarea">{{ values["contenu"] }}</textarea>
            {% for erreur in errors['contenu'] %}
                <span class="error_champs">{{ erreur }}</span>
            {% endfor %}
        </div>
        <div class="item_form">
            <label>Actif</label>
            <select name="actif" class="form-control select2">
                <option {% if values['actif'] == "0" %} selected {% endif %} value="0">Non</option>
                <option {% if values['actif'] == "1" %} selected {% endif %} value="1">Oui</option>                
            </select>
            {% for erreur in errors['actif'] %}
                <span class="error_champs">{{ erreur }}</span>
            {% endfor %}
        </div>
        <input type="submit" value="Ajouter" class="btn btn-success">
    </form>
{% endblock %}

{% block starter_header_css %}
    <link rel="stylesheet" href="{{ themeAdmin }}/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="{{ themeAdmin }}/plugins/select2/select2.min.css">
{% endblock %}

{% block starter_footer_js %}
    <script src="{{ themeAdmin }}/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="{{ themeAdmin }}/plugins/select2/select2.full.min.js"></script>
    <script>
        $(function () {
            $('.textarea').wysihtml5(
                {
                      toolbar: {
                        "font-styles": false, // Font styling, e.g. h1, h2, etc.
                        "emphasis": true, // Italics, bold, etc.
                        "lists": true, // (Un)ordered lists, e.g. Bullets, Numbers.
                        "html": true, // Button which allows you to edit the generated HTML.
                        "link": false, // Button to insert a link.
                        "image": false, // Button to insert an image.
                      }
                }
            );
        });

        $(".select2").select2();
    </script>
{% endblock %}

        