{% extends "admin/starter.html" %}

{% block starter_h1 %}
    Auteurs
{% endblock %}

{% block starter_h1_complement %}
    Voir
{% endblock %}

{% block starter_layout %}
	<div class="row">
		<div class="col-lg-4">
			<div class="row">
				<div class="col-lg-12">
					<div class="box box-widget widget-user-2">
					<!-- Add the bg color to the header using any of the bg-* classes -->
						<div class="widget-user-header bg-blue">
							<h3 class="widget-user-username">{{ auteur["pseudo"] }}</h3>
						</div>
						<div class="box-footer no-padding">
							<ul class="nav nav-stacked">
								<li>
									<a href="#">Email <span class="pull-right">{{ auteur["email"] }}</span></a>
								</li>
								<li>
									<a href="#">Crée le<span class="pull-right">{{ auteur["created_at"] }}</span></a>
								</li>
								<li>
									<a href="#">Modifié le<span class="pull-right">{{ auteur["updated_at"] }}</span></a>
								</li>
							</ul>
							<center>
								<a href="{{ path_for('admin.auteur.edit',{'id':auteur["id"]}) }}" class="btn bg-gray margin">Editer</a>
								<a href="{{ path_for('admin.auteur.editmdp',{'id':auteur["id"]}) }}" class="btn bg-gray margin">Modifier le MDP</a>
								<a href="{{ path_for('admin.auteur.destroy',{'id':auteur["id"]}) }}" class="btn bg-red margin">Supprimer</a>
							</center>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="info-box">
						<span class="info-box-icon bg-blue"><i class="fa fa-newspaper-o"></i></span>
						<div class="info-box-content">
						<span class="info-box-text">Articles publiés</span>
						<span class="info-box-number">13,648</span>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="info-box">
						<span class="info-box-icon bg-blue"><i class="fa fa-commenting-o"></i></span>
						<div class="info-box-content">
						<span class="info-box-text">Commentaires publiés</span>
						<span class="info-box-number">13,648</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="row">
				<div class="col-lg-12">
					<div class="box box-primary">
						<div class="box-header">
							<h3 class="box-title">Articles publiés</h3>
						</div>
						<div class="box-body">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="box box-primary">
						<div class="box-header">
							<h3 class="box-title">Commentaires publiés</h3>
						</div>
						<div class="box-body">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
