{% extends "admin/admin_liste.html" %}

{% block starter_h1 %}
	Auteurs
{% endblock %}

{% block starter_h1_complement %}
	liste
{% endblock %}

{% block admin_liste_menu %}
	<a type="button" class="btn bg-olive margin" href="{{ path_for('admin.auteur.create') }}">Ajouter un auteur</a>
{% endblock %}

{% block admin_liste_table %}
	<table id="table_d_1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="table_d_1_info">
		<thead>
			<tr role="row">
				<th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
					ID
				</th>
				<th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
					Actif
				</th>
				<th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
					Pseudo
				</th>
				<th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
					Email
				</th>
				<th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
					Date Création
				</th>
				<th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
					Date Edition
				</th>
				<th tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			{% for auteur in auteurs %}
			<tr role="row" class="odd">
				<td>{{ auteur["id"] }}</td>
				<td>
					{% if auteur["actif"] == "1" %}
						<span style="color:green;">Oui</span>
					{% else %}
						<span style="color:red;">Non</span>
					{% endif %}
				</td>
				<td>{{ auteur["pseudo"] }}</td>
				<td>{{ auteur["email"] }}</td>
				<td>{{ auteur["created_at"] }}</td>
				<td>{{ auteur["updated_at"] }}</td>
				<td class="action_rows_table">
					<a href="{{ path_for('admin.auteur.show',{'id':auteur["id"]}) }}">Voir</a> |
					<a href="{{ path_for('admin.auteur.edit',{'id':auteur["id"]}) }}">Editer</a> |
					<a href="{{ path_for('admin.auteur.destroy',{'id':auteur["id"]}) }}" class="alert_link">Supprimer</a> |
					<a href="{{ path_for('admin.auteur.editmdp',{'id':auteur["id"]}) }}">Modifier mot de passe</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th rowspan="1" colspan="1">ID</th>
				<th rowspan="1" colspan="1">Actif</th>
				<th rowspan="1" colspan="1">Pseudo</th>
				<th rowspan="1" colspan="1">Email</th>
				<th rowspan="1" colspan="1">Date Création</th>
				<th rowspan="1" colspan="1">Date Edition</th>
				<th rowspan="1" colspan="1">Action</th>
			</tr>
		</tfoot>
	</table>
{% endblock %}