{% extends "admin/admin_form.html" %}

{% block starter_h1 %}
    Auteurs
{% endblock %}

{% block starter_h1_complement %}
    Editer
{% endblock %}

{% block admin_form_formulaire %}
    <form method="POST">
        <div class="item_form">
            <label>Pseudo</label>
            <input type="text" name="pseudo" value="{{values['pseudo']}}" class="form-control">
            {% for erreur in errors['pseudo'] %}
                <span class="error_champs">{{ erreur }}</span>
            {% endfor %}
        </div>
        <div class="item_form">
            <label>Email</label>
            <input type="text" name="email" value="{{values['email']}}" class="form-control">
            {% for erreur in errors['email'] %}
                <span class="error_champs">{{ erreur }}</span>
            {% endfor %}
        </div>
        <div class="item_form">
            <label>Actif</label>
            <select name="actif" class="form-control select2">
                <option {% if values['actif'] == "0" %} selected {% endif %} value="0">Non</option>
                <option {% if values['actif'] == "1" %} selected {% endif %} value="1">Oui</option>                
            </select>
            {% for erreur in errors['actif'] %}
                <span class="error_champs">{{ erreur }}</span>
            {% endfor %}
        </div>
        <input type="submit" value="Modifier" class="btn btn-success">
    </form>
{% endblock %}
