{% extends "front/base.html" %}

{% block base_corps %}
<style>
    body, html
    {
        width:100%;
        height:100%;
    }
</style>
<div style="width:100%;height:100%;background-image:url('{{ imgUrl }}fond_index.png');">
    <div style="width:100%;position:absolute;top:50%;text-align:center;">
         <input type="text" style="padding:10px 10px;width:450px;">
         <br>
         <br>
         <img src="{{ imgUrl }}recherche_help.png" style="width:300px;">
    </div>   
</div>
{% endblock %}