{% extends "front/base.html" %}

{% block base_corps %}
    <div class="layout_colonne_g">
        <form class="formulaire_recherche">
            <div class="row">
                <div class="col-lg-9">
                    <input type="text" class="form-control">
                </div>
                <div class="col-lg-3">
                   <input type="submit" class="btn bg-olive" value="Rechercher">
                </div>
            </div>
        </form>
        {% block layout_corps %}
        {% endblock %}
    </div> 
    <div class="layout_colonne_d">
        <div id="carte" style="width:100%;height:100%;"></div>
    </div>
{% endblock %}