{% extends "front/layout.html" %}

{% block layout_corps %}
    <div class="conteneur_item_recherche">
        {% for i in 0..10 %}
            <div class="row item_recherche">
                <div class="col-lg-3">
                    <a>
                        <img src="{{ imgUrl }}122903-122903.jpg" style="width:100%" class="item_recherche_img">
                    </a>
                </div>
                <div class="col-lg-9">
                    <a class="item_recherche_auteur">Auteur</a> | <a class="item_recherche_viewcarte">Voir sur la carte</a>
                    <h2>Titre de l'article</h2>
                    <a class="item_recherche_preview">
                        Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine(...)
                    </a>
                </div>
            </div>                   
        {% endfor %}
    </div>
    <div class="conteneur_item_pagination">
        <ul>
            {% for i in 1..30 %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block starter_footer_js %}
    <script type="text/javascript">
        var coordonnee_long = {{ data["data"][0]["coordonnee_long"] }};
        var coordonnee_lat  = {{ data["data"][0]["coordonnee_lat"] }};

        var markers = [
            {% for article in data["data"] %}
                {
                    coordonnee_long:{{ article["coordonnee_long"] }},
                    coordonnee_lat:{{ article["coordonnee_lat"] }}                   
                },
            {% endfor %}
        ];

        create_map_and_markers(coordonnee_lat, coordonnee_long, 3, markers)
    </script>   
{% endblock %}