{% extends "front/layout.html" %}

{% block layout_corps %}
    <div class="conteneur_item_recherche">
        {% for article in data %}
            <div class="row item_recherche">
                <div class="col-lg-3">
                    <a>
                        {% if article["images"] is empty %}
                            <img src="{{ imgUrl }}122903-122903.jpg" style="width:100%" class="item_recherche_img">
                        {% else %}
                            <img src="{{ imgUrl }}articles/{{ article["images"][0]["src"] }}" style="width:100%" class="item_recherche_img">
                        {% endif %}
                    </a>
                </div>
                <div class="col-lg-9">
                    <a class="item_recherche_auteur">Auteur</a> | <a class="item_recherche_viewcarte">Voir sur la carte</a>
                    <h2>{{ article["titre"] }}</h2>
                    <a href="{{ path_for('front.article.show',{'id':article["id"]}) }}" class="item_recherche_preview">
                        {{ article["contenu"]|striptags|slice(0,150) }}(...)
                    </a>
                </div>
            </div>                   
        {% endfor %}
    </div>
    <div class="conteneur_item_pagination">
        <ul>
            {% if nbPage is not empty %}
                {% if nbPage > 1 %}
                    {% for i in 0..nbPage-1 %}
                        <li {% if currentPage == i %} class="current_page" {% endif %}>
                            <a href="{{ path_for('front.article.index',{'offset':i*limit}) }}">
                                {{ i+1 }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block starter_footer_js %}
    <script type="text/javascript">
        var coordonnee_long = {{ data[0]["coordonnee_long"] }};
        var coordonnee_lat  = {{ data[0]["coordonnee_lat"] }};

        var markers = [
            {% for article in data %}
                {
                    coordonnee_long:{{ article["coordonnee_long"] }},
                    coordonnee_lat:{{ article["coordonnee_lat"] }}                   
                },
            {% endfor %}
        ];

        create_map_and_markers(coordonnee_lat, coordonnee_long, 3, markers)
    </script>   
{% endblock %}