<html>
    <head>
        <meta charset="utf-8"/>
        <title></title>
    </head>
    <body>
        <form>
            <input type="hidden" name="article_coordonnee_long">
            <input type="hidden" name="article_coordonnee_lat">
            <div class="item_form">
                <label>Titre</label>
                <input type="text" name="article_titre">
            </div>
            <div class="item_form">
                <label>Contenu</label>
                <textarea name="article_contenu"></textarea>
            </div>       
            <input type="submit" value="Ajouter">
        </form>
    </body>
</html>