{% extends "admin/admin_form.html" %}

{% block starter_h1 %}
    Auteurs
{% endblock %}

{% block starter_h1_complement %}
    Ajouter
{% endblock %}

{% block admin_form_formulaire %}
    <form method="POST">
        <div class="item_form">
            <label>Pseudo</label>
            <input type="text" name="pseudo" value="{{values['pseudo']}}" class="form-control">
            {% for erreur in errors['pseudo'] %}
                <span class="error_champs">{{ erreur }}</span>
            {% endfor %}
        </div>
        <div class="item_form">
            <label>Mdp</label>
            <input type="password" name="mdp" value="{{values['mdp']}}" class="form-control">
            {% for erreur in errors['mdp'] %}
                <span class="error_champs">{{ erreur }}</span>
            {% endfor %}
        </div>
        <div class="item_form">
            <label>Email</label>
            <input type="text" name="email" value="{{values['email']}}" class="form-control">
            {% for erreur in errors['email'] %}
                <span class="error_champs">{{ erreur }}</span>
            {% endfor %}
        </div>
        <div class="item_form">
            <label>Date de naissance</label>
            <input type="text" name="datenaissance" value="{{values['datenaissance']}}" class="form-control">
            {% for erreur in errors['datenaissance'] %}
                <span class="error_champs">{{ erreur }}</span>
            {% endfor %}
        </div>
        <input type="submit" value="Ajouter" class="btn btn-success">
    </form>
{% endblock %}
