{% extends "admin/starter.html" %}

{% block starter_h1 %}
    Articles
{% endblock %}

{% block starter_h1_complement %}
    Voir
{% endblock %}

{% block starter_layout %}
	<div class="row">
		<div class="col-lg-6">
			<div class="box box-primary">
			<!-- Add the bg color to the header using any of the bg-* classes -->
				<div class="box-header">
					Article
					<h3 class="widget-user-username">Ibi victu recreati et quiete, postquam</h3>
				</div>
				<div class="box-body">
					Ibi victu recreati et quiete, postquam abierat timor, vicos opulentos adorti equestrium adventu cohortium, quae casu propinquabant, nec resistere planitie porrecta conati digressi sunt retroque concedentes omne iuventutis robur relictum in sedibus acciverunt.
					<br>
					<br>
					Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.
					<br>
					<br>
					Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil ignoscendum, sed etiam acriter est resistendum.
					<br>
					<br>
					<a href="{{ path_for('admin.auteur.edit',{'id':1}) }}" class="btn bg-gray margin">Voir l'auteur associé</a>
					<a href="{{ path_for('admin.article.edit',{'id':1}) }}" class="btn bg-gray margin">Editer</a>
					<a href="{{ path_for('admin.article.destroy',{'id':1}) }}" class="btn bg-red margin">Supprimer</a>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="box box-primary">
			<!-- Add the bg color to the header using any of the bg-* classes -->
				<div class="box-header">
					Localisation
				</div>
				<div class="box-body">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20221.462281323966!2d3.1842616999999995!3d50.6887129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1455295848307" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="box box-primary">
				<div class="box-header">
					Images associées
				</div>
				<div class="box-body">
					<div class="col-lg-2">
						<img src="http://galerie.alittlemarket.com/galerie/sell/1014171/photos-ancien-commerce-boucherie-velo-tri-7739219-0131-copie-nb-d6a6a-d663f_big.jpg" width="100%">
					</div>
					<div class="col-lg-2">
						<img src="http://galerie.alittlemarket.com/galerie/sell/1014171/photos-ancien-commerce-boucherie-velo-tri-7739219-0131-copie-nb-d6a6a-d663f_big.jpg" width="100%">
					</div>
					<div class="col-lg-2">
						<img src="http://galerie.alittlemarket.com/galerie/sell/1014171/photos-ancien-commerce-boucherie-velo-tri-7739219-0131-copie-nb-d6a6a-d663f_big.jpg" width="100%">
					</div>
					<div class="col-lg-2">
						<img src="http://galerie.alittlemarket.com/galerie/sell/1014171/photos-ancien-commerce-boucherie-velo-tri-7739219-0131-copie-nb-d6a6a-d663f_big.jpg" width="100%">
					</div>
					<div class="col-lg-2">
						<img src="http://galerie.alittlemarket.com/galerie/sell/1014171/photos-ancien-commerce-boucherie-velo-tri-7739219-0131-copie-nb-d6a6a-d663f_big.jpg" width="100%">
					</div>
					<div class="col-lg-2">
						<img src="http://galerie.alittlemarket.com/galerie/sell/1014171/photos-ancien-commerce-boucherie-velo-tri-7739219-0131-copie-nb-d6a6a-d663f_big.jpg" width="100%">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="box box-primary">
				<div class="box-header">
					Commentaires associées
				</div>
				<div class="box-body">
					<table id="table_d_1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="table_d_1_info">
						<thead>
							<tr role="row">
								<th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
									ID
								</th>
								<th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
									Auteur
								</th>
								<th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
									Contennu
								</th>
								<th class="sorting" tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
									Date Création
								</th>
								<th tabindex="0" aria-controls="table_d_1" rowspan="1" colspan="1">
									Action
								</th>
							</tr>
						</thead>
						<tbody>
							{% for i in 0..20 %}
							<tr role="row" class="odd">
								<td>{{ i }}</td>
								<td>pseudo{{ i }}</td>
								<td>
									Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato de more elogio revocari iussisse...
								</td>
								<td>2016-01-01</td>
								<td class="action_rows_table">
									<a href="{{ path_for('admin.commentaire.show',{'id':1}) }}">Voir</a> |
									<a href="{{ path_for('admin.commentaire.edit',{'id':1}) }}">Editer</a> |
									<a href="{{ path_for('admin.commentaire.destroy',{'id':1}) }}">Supprimer</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th rowspan="1" colspan="1">ID</th>
								<th rowspan="1" colspan="1">Auteur</th>
								<th rowspan="1" colspan="1">Contennu</th>
								<th rowspan="1" colspan="1">Date Création</th>
								<th rowspan="1" colspan="1">Action</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
