{% extends "admin/starter.html" %}

{% block starter_h1 %}
    Articles
{% endblock %}

{% block starter_h1_complement %}
    Aenima59
{% endblock %}

{% block starter_layout %}
	<div class="row">
		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-12">
					<div class="box">
					<!-- Add the bg color to the header using any of the bg-* classes -->
						<div class="box-header">
							Article
							<h3 class="widget-user-username">Ibi victu recreati et quiete, postquam</h3>
						</div>
						<div class="box-body">
							Ibi victu recreati et quiete, postquam abierat timor, vicos opulentos adorti equestrium adventu cohortium, quae casu propinquabant, nec resistere planitie porrecta conati digressi sunt retroque concedentes omne iuventutis robur relictum in sedibus acciverunt.
							<br>
							<br>
							Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.
							<br>
							<br>
							Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil ignoscendum, sed etiam acriter est resistendum.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header">
							Articles publiés
						</div>
						<div class="box-body">
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header">
							Commentaires publiés
						</div>
						<div class="box-body">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
